body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#limpar{
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
}
#confirmar {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
}
